asgiref==3.2.10
beautifulsoup4==4.9.1
brotlipy==0.7.0
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
dj-database-url==0.5.0
Django==3.1.1
django-heroku==0.3.1
gunicorn==20.0.4
heroku==0.1.4
psycopg2==2.8.5
PySocks==1.7.1
python-dateutil==1.5
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
whitenoise==5.2.0
win-inet-pton==1.1.0
wincertstore==0.2
